# Copy this file to .env and fill in your values
# NEVER commit .env to Git

MONGODB_URI=mongodb+srv://shivangtiwari2312_db_user:<YOUR_PASSWORD>@ac-amrougb.s1i5o5b.mongodb.net/techealth?retryWrites=true&w=majority
DB_NAME=techealth
PORT=3000
